<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/622c95e3fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="detail1.css">

</head>

<body>
    <div>
        <nav>
            <button class="logo"><img id='logo' src="logo.png" alt="logo"></button>
            <ul id='title'>
                <li>
                    <h1>Tour It</h1>
                </li>
            </ul>
            <img id='user' src="user.png" alt="user">

            <ul class="Trips">
                <li><a href="#">Trips</a></li>
            </ul>

            <div class="sidenav appear">
                <ul class="container">
                    <li class="menu">
                        <p>Hotels</p>
                    </li>
                    <li class="menu">
                        <p>Shopping</p>
                    </li>
                    <li class="menu">
                        <p>Restaurants</p>
                    </li>
                    <li class="menu">
                        <p>Amusement Park</p>
                    </li>
                    <li class="menu">
                        <p>Art & Culture</p>
                    </li>
                    <li class="menu visiting">
                        <p>Spiritual Places</p>
                    </li>
                    <li class="menu">
                        <p>Landmarks</p>
                    </li>
                    <li class="menu">
                        <p>Nature & Parks</p>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="balaji.jpg" alt="">
            <div class="text-wrp">
                <h1>Aksa Beach</h1>
            </div>
            <div class="instruct">
                <h4>*hover for more info</h4>
            </div>
        </div>
        <div class="box-content">
            <h2>Aksa Beach</h2>
            <div class="location">
                <i class="fa fa-map-marker " ></i>
                <h4>Location: Dadar</h4>
            </div>
            
            <p >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolores consequatur reprehenderit nostrum! Nemo aperiam veniam, eaque dolores dolor laboriosam!
            </p>
        </div>
    </div>
    
    <script src="./heart.js"></script>
    <!-- <script src="./sidenav.js"></script> -->
</body>

</html>