{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/622c95e3fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>
  <div>
      <nav>
          <img id='logo' src="/images/logo.png" alt="logo">
          <ul id='title'>
              <li>
                  <h1>Tour It</h1>
              </li>
          </ul>

          <ul class="right-menu">
              <li class="content"><a href="{% url 'tourit:login' %}">Login</a></li>
              <li class="content"><a href="{% url 'tourit:register' %}">Signup</a></li>
          </ul>
      </nav>
  </div>


    <div class="home">
        <div class="slider">
            <div class="slide active" style="background-image: url('/static/images/carousel1.jpg');" alt="random text" ></div>
            <div class="slide" style="background-image: url( '/static/images/carousel6.jpg' );"></div>
            <div class="slide" style="background-image: url('/static/images/carousel4.jpg');"></div>
            <div class="slide" style="background-image: url('/static/images/carousel7.jpg');"></div>
            <div class="slide active" style="background-image: url('/static/images/landmarks.jpeg');" alt="random text" ></div>
            <div class="slide" style="background-image: url( '/static/images/carousel12.jpg' );"></div>
            <div class="slide" style="background-image: url('/static/images/Spiritual.jpg');"></div>
            
        </div>

        <div class="controls">
            <div class="prev"><i class="fas fa-angle-left"></i></div>
            <div class="next"><i class="fas fa-angle-right"></i></div>
        </div>


        <div class="indicator"></div>

    </div>



    <script src="{% static '/js/home.js' %}"></script>
</body>
</html>
