{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static '/css/password_reset_done.css' %}">
</head>
<body>
    <div class="box">
        <h1>Reset Complete</h1>
        <div class="message">Your password has been reset. Log in to continue.</div>
        <button class="login-btn">
          <a href="/tourit/login">Login</a>
        </button>

    </div>
</body>
</html>
