{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/password_reset.css' %}">
    <script src="https://kit.fontawesome.com/622c95e3fd.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="reset">
        <h1>Forgot Password</h1>

        <form class="form" action="" method="POST">
            <div class="box">
                <i class="fas fa-envelope"></i>
								{% csrf_token %}
								<input type="text" placeholder="Email" name="email">
            </div>
            <div class="instruct">An email will be sent on this Id for verification.</div>
            <input type="submit" class="submit-btn" value="Submit">
        </form>
    </div>
</body>
</html>
