{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static '/css/password_reset_sent.css' %}">
</head>
<body>
    <div class="box">
        <h1>Email Sent!</h1>
        <div class="message">We have sent you an email for verification. If you haven't received it kindly check your spam folder or make sure you have given a valid email address.</div>
    </div>
</body>
</html>
