* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}






.box {
  /* border: 1px solid #000; */
  width: 800px;
  /* margin:0 auto; */
  margin-top: 50px;
  position: relative;
  perspective: 1000px;
  margin-left: 400px;
  /* border-radius: 10px; */
}
.box .box-img img{
  width:100%;
  height: 500px;
  border-radius: 10px;
  
}
.box .box-img{
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
  /* padding: 0px 50px; */
}
.box:hover .box-img{
    transform: rotateY(-90deg);

}
.box .box-content{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    padding:20px 20px;
    box-sizing: border-box;
    text-align: center;
    color:black;
    background: #6cbcf9;
    transform:rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-content{
     transform:rotateY(0deg);
     border-radius: 10px;
}

 .box h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'lobster',cursive;
    font-size: 6vw;
    color:#ebede4;
    text-shadow: 0 0 3px black, 0 0 5px black;

}
.box .instruct h4{
  position: absolute;
  margin-top: -30px;
  color:#ebede4;
  margin-left: 550px;
  text-align: right;
  
 }
.box-content h2{
  text-align: left;
  margin: 5px 0px;
}
.box-content h4{
  text-align: left;
  margin-left: 20px;

}
.box-content p{
  text-align: left;
  padding-top: 20px;
}

.box-content i{
  float: left;
}
