*{
    margin: 0px;
    padding: 0px;
}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px black;
    height: 200px;
    width: 400px;
    border-radius: 5px;

}

h1{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #0984E3;
}

.message{
    margin-top: 15px;
    font-size: large;
    padding: 20px;
}

.login-btn{
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: none;
  background-color: white;
  border: 2px solid #0984e3;
  padding: 8px 15px;
  border-radius: 10px;
  color: #0984e3;
  font-size: 15px;
  transition: all 250ms ease-in-out;
  outline: none;
  font-weight: bold;


}

.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    transition: transform 250ms ease-in-out;
}

.login-btn a{
  color: #0984E3;
  text-decoration: none;
  text-align: center;
}

.login-btn:hover{
    background-color: #0984E3;
    color: white;
}

.login-btn a:hover{
  color: white;
}

.button:hover{
    background-color: #0984e3;
    cursor: pointer;
}

button:hover a{
  color:white;

}
