*{
    margin: 0px;
    padding: 0px;
}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px black;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    
}

h1{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #0984E3;
}

.message{
    margin-top: 15px;
    font-size: large;
    padding: 20px;
}

.login-btn{
    margin: auto;
    display: block;
    padding: 8px 20px;
    color: #0984E3;
    border: 2px solid #0984E3;
    border-radius: 10px;
    background-color: white;
    transition: all 250ms ease-in-out;
    font-weight: bold;
    outline: none;
}

.login-btn:hover{
    background-color: #0984E3;
    color: white;
}